<div th:insert="~{user_header}"></div>

<!--<div th:insert="~{header.html}">...</div>-->
<!--<div th:insert="~{sidebar.html}">...</div>-->

<main id="main" class="main">
    <div class="pagetitle  text-center">
        <h1>House  View </h1>

    </div>
    <br>

    <form th:action="@{/houseLocationAndBedroomSearch}"  th:object="${userjobdatas}" method="post">

        <div class="col-md-12 p-4">
        <div  class="card mt-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2"></div>

                    <div class=" col-md-3">
                        <label><h5>Location</h5></label>
                        <select  name="location" class="custom-select" id="location">
                            <option value="Mohammadpur"> Mohammadpur </option>
                            <option value="Dhanmundi"> Dhanmundi </option>
                            <option value="Mirpur"> Mirpur </option>
                            <option value="Adabor"> Adabor </option>
                            <option value="Shere_Bangla_Nagor"> Shere_Bangla_Nagor </option>
                            <option value="Shahbag"> Shahbag </option>
                        </select>
                    </div>

                    <div class=" col-md-3">
                        <label><h5>Bedroom</h5></label>
                        <select  name="bedroom" class="custom-select" id="bedroom">
                            <option value="2 Bedroom"> 1 Bedroom </option>
                            <option value="2 Bedroom"> 2 Bedroom </option>
                            <option value="3 Bedroom"> 3 Bedroom </option>
                            <option value="4 Bedroom"> 4 Bedroom </option>
                            <option value="5 Bedroom"> 5 Bedroom </option>
                            <option value="6 Bedroom"> 6 Bedroom </option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <button type="submit"> Search</button>
                    </div>

                    <div class="col-md-2"></div>
                </div>

            </div>
        </div>
        </div>
    </form>


    <div class="col-md-12 p-4">



                  <div th:each="job : ${userjobdatas}" class="card mt-2">

                          <div class="row p-4">
                              <td><img height="350px" width="100%"  th:src="@{${'/house/display?id=' + job.id}}" alt=""></td>
                              <br>
                          </div>

                      <div class="row p-4">
                          <div class="col-md-6">
                              <input type="text" class="form-control form-control-sm" th:value="${'Owner Name: ' + job.ownerName.h_Rent_Owner_Name}" readonly>
                          </div>

                          <div class="col-md-6">
                              <input type="text" class="form-control form-control-sm" th:value="${'House Name: ' + job.build_Name}" readonly>
                          </div>
                      </div>


                      <div class="row p-4">
                          <div class="col-md-6">
                              <input type="text" class="form-control form-control-sm" th:value="${'Location: ' + job.location}" readonly>
                          </div>

                          <div class="col-md-6">
                              <input type="text" class="form-control form-control-sm" th:value="${'Bedroom: ' + job.bedroom}" readonly>
                          </div>
                      </div>

                      <div class="row p-4">
                          <div class="col-md-6">
                              <input type="text" class="form-control form-control-sm" th:value="${'Description: ' + job.description}" readonly>
                          </div>

                          <div class="col-md-6">
                              <input type="text" class="form-control form-control-sm" th:value="${'Monthly Cost: ' + job.total_cost}" readonly>
                          </div>
                      </div>

                      <div class="text-center p-5" >
                          <a class="btn btn-primary" th:href="@{'/building/details/'+${job.id}}"> More Details </a>
                          <!-- You can add links to edit and delete job here -->
                          <!--                <a th:href="@{'/userViewSeeMore/'+ ${job.id}}" class="btn btn-sm bg-success text-white">See More & Apply</a>-->
                          <!--                        <a th:href="@{'/deleteJob/'+ ${job.id}}" class="btn btn-sm bg-danger text-white">Delete</a> -->
                      </div>
                  </div>

          </div>




<!--    <img src="/assets/img/card.jpg" class="img-fluid rounded-start" alt="..." height="30px"><br><br>-->
<!--    <div th:each="job : ${userjobdatas}" class="card mt-2">-->
<!--        <div class="card-body">-->
<!--            <div class="text-center text-primary">-->
<!--                <i class="far fa-clipboard fa-2x"></i>-->
<!--            </div>-->
<!--            <p th:text="${job.build_Name}">Description</p>-->
<!--            <br>-->
<!--            <div class="form-row">-->
<!--                <div class="form-group col-md-3">-->
<!--                    <input type="text" class="form-control form-control-sm" th:value="${'Location: ' + job.location}" readonly>-->
<!--                </div>-->
<!--                <div class="form-group col-md-3">-->
<!--                    <input type="text" class="form-control form-control-sm" th:value="${'Category: ' + job.bedroom}" readonly>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Display dynamic Publish Date based on the job's publish date property &ndash;&gt;-->
<!--            &lt;!&ndash;            <h6 th:if="${job.pdate != null}" th:text="${'Publish Date: ' + #dates.format(job.pdate, 'EEE, MMM dd, yyyy')}"></h6>&ndash;&gt;-->

<!--            <div class="text-center">-->
<!--                <a class="btn btn-primary" th:href="@{'/building/details/'+${job.id}}"> More Details </a>-->
<!--                &lt;!&ndash; You can add links to edit and delete job here &ndash;&gt;-->
<!--                &lt;!&ndash;                <a th:href="@{'/userViewSeeMore/'+ ${job.id}}" class="btn btn-sm bg-success text-white">See More & Apply</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <a th:href="@{'/deleteJob/'+ ${job.id}}" class="btn btn-sm bg-danger text-white">Delete</a> &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->



    <!--            <div class="col-md-12 p-4">-->
<!--                <div class="card">-->
<!--                    <div class="card-body ">-->
<!--                        &lt;!&ndash; start my work&ndash;&gt;-->
<!--                        <div class="row">-->
<!--                            <div class="card col-md-4 mb-2" th:each="h : ${houseRentModelList}">-->
<!--                                <div class="row g-0">-->
<!--                                    <div class="col-md-12 p-1">-->
<!--                                        <img src="/assets/img/card.jpg" class="img-fluid rounded-start" alt="..." height="30px"><br><br>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-12">-->
<!--                                        <div class="card-body">-->
<!--                                            <h3 class="card-title p-2" style="text-align: center" th:text="${h.build_Name}"></h3>-->
<!--                                            <h5 class="card-title p-2" style="text-align: center" th:text="' Owner Name :    ' +${h.ownerName.h_Rent_Owner_Name}"></h5>-->
<!--                                            <h5 class="card-title p-2" style="text-align: center" th:text="' Bedroom :    ' +${h.bedroom}"></h5>-->
<!--                                            <h5 class="card-title p-2" style="text-align: center" th:text="' Address :   ' +${h.location}"></h5>-->
<!--                                        </div>-->
<!--                                        <div style="text-align: center">-->
<!--                                            <a class="btn btn-primary" th:href="@{'/building/details/'+${h.id}}"> More Details </a>-->
<!--                                        </div>-->
<!--                                        <div class="p-2"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; end my work &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

</main>

<div th:insert="~{user_footer}">...</div>

