

<!--<div th:insert="header.html"></div>-->
<!--<div class="p-4"></div>-->
<!--<div class="container p-5">-->
<!--    <table style="text-align: center" >-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Customer Name</th>-->
<!--            <th>Mobile</th>-->
<!--            <th>Gender</th>-->
<!--            <th>Date</th>-->
<!--            <th>Email</th>-->
<!--            <th>Address</th>-->
<!--            <th>Action</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <div border="1" style="text-align: center">-->
<!--            <tbody >-->
<!--            <tr th:each="c: ${customerList}">-->
<!--                <td th:text="${c.id}"></td>-->
<!--                <td th:text="${c.cus_Name}"></td>-->
<!--                <td th:text="${c.cus_Mobile}"></td>-->
<!--                <td th:text="${c.cus_Gender}"></td>-->
<!--                <td th:text="${c.cus_Date}"></td>-->
<!--                <td th:text="${c.cus_Email}"></td>-->
<!--                <td th:text="${c.cus_Address}"></td>-->
<!--                <td>-->
<!--                    <a class="btn btn-danger" th:href="@{'/customer/delete/'+${c.id}}">-->
<!--                        Delete-->
<!--                    </a>-->
<!--                    <a class="btn btn-warning" th:href="@{'/customer/edit/'+${c.id}}">-->
<!--                        Update-->
<!--                    </a>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </div>-->
<!--    </table>-->
<!--</div>-->
<!--<div th:insert="footer.html"></div>-->



<div th:insert="~{header.html}">...</div>
<div th:insert="~{sidebar.html}">...</div>

<main id="main" class="main">
    <div class="pagetitle ms-2">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a th:href="@{/}">Customer Edit Form</a></li>
                <li class="breadcrumb-item active">View Customer </li>
            </ol>
        </nav>
    </div>

    <br>

    <section class="section">
        <div class="row">
            <div class="col-md-11 offset-1">
                <div class="card">
                    <div class="card-body mt-3">

                        <!-- start my work-->
                        <div class="row">
                            <div class="card col-md-4 mb-2" th:each="h : ${customerList}">
                                <div class="row g-0">
                                    <div class="col-md-12 p-2">

                                        <div class="col-md-12 p-1">
                                            <td><img height="250px" width="100%"  th:src="@{${'/customer/display?id=' + h.id}}" alt=""></td>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text=" 'Customer Details '"></h5>

                                            <b><span th:text="' Customer Name :   ' +${h.cus_Name}"></span></b></br>

                                            <b><span th:text="' Mobile No :    ' +${h.cus_Mobile}"></span></b><br>

                                            <b><span th:text="' Email No :   ' +${h.cus_Email}"></span></b><br>

                                            <b><span th:text="' Gender :   ' +${h.cus_Gender}"></span></b><br>

                                            <b><span th:text="' Date :   ' +${h.cus_Date}"></span></b><br>

                                            <b><span th:text="' Location :   ' +${h.cus_Address}"></span></b><br>

                                        </div>

                                        <div style="text-align: center">
                                            <a class="btn btn-danger" th:href="@{'/customer/delete/'+${h.id}}"> Delete </a>

                                            <a class="btn btn-warning" th:href="@{'/customer/edit/'+${h.id}}"> Update </a>
                                        </div>

                                        <div class="p-2"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end my work -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:insert="~{footer.html}">...</div>


