


<div th:insert="header.html"></div>


<div class="p-4"></div>


<div class="container p-5">



<div class="house-list-wrapper">
  <div class="card">
   <div class="card-body">
    <div class="row">
        <div class="col-md-6 mt-3" th:each="h: ${houseRentModelList}">
            <div class="House-item">
<!--                <img th:src="${item.image}">-->
                <div class="House-Details">
                    <h4 class="area-name" th:text="${h.h_Rent_Area}"></h4>

                    <div class="owner-name">
                        <h4 class="owner-name" th:text="${h.h_Rent_Owner_Name}"></h4>
                    </div>

                    <div class="h-name">
                        <h4 class="h-name" th:text="${h.h_Rent_Name}"></h4>
                    </div>

                    <div class="h-category">
                        <h4 class="h-category" th:text="${h.h_Rent_Category}"></h4>
                    </div>

                    <div class="h-bedroom">
                        <h4 class="h-bedroom" th:text="${h.h_Rent_Bedroom}"></h4>
                    </div>

                    <div class="h-price">
                        <h4 class="h-Price" th:text="${h.h_Rent_Price}"></h4>
                    </div>

                    <div class="h-email">
                        <h4 class="h-email" th:email="${h.h_Rent_Email}"></h4>
                    </div>

                    <div class="h-mobile">
                        <h4 class="h-mobile" th:text="${h.h_Rent_Mobile}"></h4>
                    </div>

                    <div class="h-address">
                        <h4 class="h-address" th:text="${h.h_Rent_Address}"></h4>
                    </div>

                    <div class="h-description">
                        <h4 class="h-description" th:text="${h.h_Rent_Description}"></h4>
                    </div>

                    <div>
                        <a class="btn btn-danger" th:href="@{'/houserent/delete/'+${h.id}}">
                            Delete
                        </a>
                        <a class="btn btn-warning" th:href="@{'/houserent/edit/'+${h.id}}">
                            Update
                        </a>
                    </div>

                    <div class="p-4"></div>


                </div>
               </div>
              </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="container p-5">-->
<!--    <div class="row align-items-end">-->
<!--        <div class="col-md-4">-->
<!--            One of three columns-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            One of three columns-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            One of three columns-->
<!--        </div>-->
<!--    </div>-->
<!--    <table style="text-align: center" >-->


<!--        <thead>-->
<!--        <tr>-->

<!--            <th>ID</th>-->
<!--            <th>h_Area</th>-->
<!--            <th>h_Owner_Name</th>-->
<!--            <th>h_Name</th>-->
<!--            <th>h_Category</th>-->
<!--            <th>h_Bedroom</th>-->
<!--            <th>h_Price</th>-->
<!--            <th>h_Email</th>-->
<!--            <th>h_Mobile</th>-->
<!--            <th>h_Address</th>-->
<!--            <th>h_Description</th>-->
<!--            <th>Action</th>-->

<!--        </tr>-->
<!--        </thead>-->


<!--<div class="card-body">-->
<!--    <div class="col-md-6">-->
<!--        <div style="text-align: center">-->
<!--            <tbody >-->

<!--            <tr th:each="h: ${houseRentModelList}">-->

<!--                <td th:text="${h.id}"></td>-->
<!--                <td th:text="${h.h_Rent_Area}"></td>-->
<!--                <td th:text="${h.h_Rent_Owner_Name}"></td>-->
<!--                <td th:text="${h.h_Rent_Name}"></td>-->
<!--                <td th:text="${h.h_Rent_Category}"></td>-->
<!--                <td th:text="${h.h_Rent_Bedroom}"></td>-->
<!--                <td th:text="${h.h_Rent_Price}"></td>-->
<!--                <td th:text="${h.h_Rent_Email}"></td>-->
<!--                <td th:text="${h.h_Rent_Mobile}"></td>-->
<!--                <td th:text="${h.h_Rent_Address}"></td>-->
<!--                <td th:text="${h.h_Rent_Description}"></td>-->

<!--                <td>-->
<!--                    <a class="btn btn-danger" th:href="@{'/houserent/delete/'+${h.id}}">-->
<!--                        Delete-->
<!--                    </a>-->
<!--                    <a class="btn btn-warning" th:href="@{'/houserent/edit/'+${h.id}}">-->
<!--                        Update-->
<!--                    </a>-->
<!--                </td>-->
<!--            </tr>-->

<!--            </tbody>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--    </table>-->
<!--</div>-->

<div th:insert="footer.html"></div>

</body>
</div>

</html>