
<div th:insert="~{header.html}">...</div>
<div th:insert="~{sidebar.html}">...</div>

<main id="main" class="main">
    <div class="pagetitle ms-2">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a th:href="@{/}">House Rent</a></li>
                <li class="breadcrumb-item active">View House </li>
            </ol>
        </nav>
    </div>

    <br>

    <section class="section">
        <div class="row">
            <div class="col-md-11 offset-1">
                <div class="card">
                    <div class="card-body mt-3">

                        <!-- start my work-->
                        <div class="row">
                            <div class="card col-md-4 mb-2" th:each="h : ${houseRentModelList}">
                                <div class="row g-0">
                                    <div class="col-md-12 p-3">

                                        <div class="col-md-12 p-3">
                                            <td><img height="250px" width="100%"  th:src="@{${'/house/display?id=' + h.id}}" alt=""></td>
                                        </div>

                                        <b><span th:text="'House Name   : '+${h.build_Name}"></span></b><br>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text=" 'House Details '"></h5>

                                            <td th:if="${h.ownerName}" th:text="'Owner Name  :'+${h.ownerName.h_Rent_Owner_Name}"></td>


                                            <b><span th:text="' Bedroom :   ' +${h.bedroom}"></span></b></br>

                                            <b><span th:text="' Monthly Rent :    ' +${h.monthly_rent}"></span></b><br>

                                            <b><span th:text="' Address :   ' +${h.location}"></span></b><br>

                                            <b><span th:text="' Description :   ' +${h.description}"></span></b><br>

                                        </div>

                                           <div style="text-align: center">
                                              <a class="btn btn-danger" th:href="@{'/houserent/delete/'+${h.id}}"> Delete </a>

                                               <a class="btn btn-warning" th:href="@{'/houserent/edit/'+${h.id}}"> Update </a>
                                           </div>

                                        <div class="p-2"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end my work -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:insert="~{footer.html}">...</div>

