<div th:insert="~{header.html}">...</div>
<div th:insert="~{sidebar.html}">...</div>


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a th:href="@{/}">House Add Form</a></li>

            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-md-10 offset-1">


                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center">House Add Form</h1>

                        <!-- Multi Columns Form -->
<!--                        <form th:action="@{/houserent/save}" th:object="${houserent}" method="post" >-->

<!--                            <div class="col-md-10">-->
<!--                                <label>Image</label>-->
<!--                                <input type="file" name="file"/>-->
<!--   &lt;!&ndash;                     <input type="submit" value="Upload File"/>&ndash;&gt;-->
<!--                            </div>-->

<!--                        <div class="row">-->
<!--                            <div class="col-md-6">-->
<!--                                <label  class="form-label">Area</label>-->
<!--                                <select  class="form-select" th:field="*{h_Rent_Area}">-->

<!--                                    <option value="Mohammadpur">  Mohammadpur </option>-->
<!--                                    <option value="Mirpur"> Mirpur </option>-->
<!--                                    <option value="Dhanmundi"> Dhanmundi </option>-->
<!--                                    <option value="Shahbag"> Shahbag </option>-->
<!--                                </select>-->
<!--                            </div>-->

<!--                            <div class="col-md-6">-->
<!--                                <label  class="form-label">House Owner Name</label>-->
<!--                                <input type="text" class="form-control" th:field="*{h_Rent_Owner_Name}" >-->
<!--                            </div>-->

<!--                        </div>-->

<!--                        <div class="row">-->

<!--                            <div class="col-md-6">-->
<!--                                <label  class="form-label">House Name</label>-->
<!--                                <input type="text" class="form-control" th:field="*{h_Rent_Name}">-->
<!--                            </div>-->

<!--                            <div class="col-md-6">-->
<!--                                <label  class="form-label">House Category</label>-->
<!--                                <select  class="form-select" th:field="*{h_Rent_Category}">-->

<!--                                    <option value="Classic"> Classic </option>-->
<!--                                    <option value="Medium"> Medium </option>-->
<!--                                    <option value="Normal"> Normal </option>-->
<!--                                </select>-->
<!--                            </div>-->

<!--                        </div>-->

<!--                            <div class="row">-->

<!--                                <div class="col-md-6">-->
<!--                                    <label  class="form-label">Bedroom Category</label>-->
<!--                                    <select  class="form-select" th:field="*{h_Rent_Bedroom}">-->

<!--                                        <option value="2 Bedroom"> 2 Bedroom </option>-->
<!--                                        <option value="3 Bedroom"> 3 Bedroom </option>-->
<!--                                        <option value="4 Bedroom"> 4 Bedroom </option>-->
<!--                                    </select>-->
<!--                                </div>-->

<!--                                <div class="col-md-6">-->
<!--                                    <label class="form-label">Price</label>-->
<!--                                    <input type="text" class="form-control" th:field="*{h_Rent_Price}">-->
<!--                                </div>-->

<!--                            </div>-->

<!--                          <div class="row">-->

<!--                              <div class="col-md-6">-->
<!--                                  <label  class="form-label">Email</label>-->
<!--                                  <input type="email" class="form-control" th:field="*{h_Rent_Email}">-->
<!--                              </div>-->

<!--                              <div class="col-md-6">-->
<!--                                  <label  class="form-label">Mobile No</label>-->
<!--                                  <input type="text" class="form-control" th:field="*{h_Rent_Mobile}">-->
<!--                              </div>-->

<!--                          </div>-->

<!--                            <div class="col-12">-->
<!--                                <label  class="form-label">Address</label>-->
<!--                                <textarea class="form-control" th:field="*{h_Rent_Address}"></textarea>-->
<!--                            </div>-->

<!--                            <div class="col-12">-->
<!--                                <label class="form-label">Description</label>-->
<!--                                <textarea class="form-control" th:field="*{h_Rent_Description}"></textarea>-->

<!--                            </div>-->


<!--&lt;!&ndash;                            <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                                <label for="inputZip" class="form-label">Zip Code</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="text" class="form-control" id="inputZip">&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                            <div class="col-12">-->
<!--                                <div class="form-check p-2 ms-3">-->
<!--                                    <input class="form-check-input" type="checkbox" id="gridCheck">-->
<!--                                    <label class="form-check-label" for="gridCheck">-->
<!--                                        Check me out-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="text-center p-3">-->
<!--                                <button type="submit" class="btn btn-primary">Save</button>-->
<!--&lt;!&ndash;                                <button type="reset" class="btn btn-secondary">Reset</button>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </form>&lt;!&ndash; End Multi Columns Form &ndash;&gt;-->


                        <form th:action="@{/house/save}" th:object="${houserent}" method="post" enctype="multipart/form-data" >

                            <input type="hidden" th:field="*{id}"/>

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="file" th:field="*{image}" accept="image/*" onchange="previewImage()"><br>
                                    <img th:if="${houserent.image ne null}" th:src="@{/assets/images/users/{filename}(filename=${houserent.image})}" alt="Owner Image" style="max-width: 100%;"><br>
                                    <img id="imagePreview" src="#" alt="Owner Image" style="display: none; width: 100px;">
                                </div>
                            </div>

                            <div class="p-2"></div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label  class="form-label">Building Name</label>
                                    <input type="text" class="form-control" th:field="*{build_Name}" >
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">Owner Name</label>
                                    <select type="text" class="form-control" th:field="*{ownerName}">

                                        <option th:each="h:${ownerList}" th:text="${h.h_Rent_Owner_Name}"
                                                th:value="${h.id}">Select One
                                        </option>
                                    </select>
                                </div>

                            </div>

                            <div class="p-2"></div>


                            <div class="row">

                                <div class="col-md-6">
                                    <label  class="form-label">Floor No</label>

                                    <select  class="form-select" th:field="*{floor_No}">
                                        <option value="2 Floor"> 1 Floor </option>
                                        <option value="2 Floor"> 2 Floor </option>
                                        <option value="3 Floor"> 3 Floor </option>
                                        <option value="4 Floor"> 4 Floor </option>
                                        <option value="5 Floor"> 5 Floor </option>
                                        <option value="6 Floor"> 6 Floor </option>
                                        <option value="7 Floor"> 7 Floor </option>
                                        <option value="8 Floor"> 8 Floor </option>
                                        <option value="9 Floor"> 9 Floor </option>
                                        <option value="10 Floor"> 10 Floor </option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label  class="form-label">Unit No</label>

                                    <select  class="form-select" th:field="*{unit_No}">
                                        <option value="A-1 ">A-1  </option>
                                        <option value="A-2 ">A-2  </option>
                                        <option value="B-1 "> B-1  </option>
                                        <option value="B-2 "> B-2 </option>
                                        <option value="C-1 "> C-1 </option>
                                        <option value="C-2 "> C-2 </option>
                                        <option value="D-1 "> D-1 </option>
                                        <option value="D-2  "> D-2  </option>
                                        <option value="E-1 "> E-1  </option>
                                        <option value="E-2"> E-2  </option>
                                    </select>
                                </div>

                            </div>

                            <div class="p-2"></div>

                            <div class="row">


                                <div class="col-md-6">
                                    <label  class="form-label">Bedroom No</label>

                                    <select  class="form-select" th:field="*{bedroom}">
                                        <option value="2 Bedroom"> 1 Bedroom </option>
                                        <option value="2 Bedroom"> 2 Bedroom </option>
                                        <option value="3 Bedroom"> 3 Bedroom </option>
                                        <option value="4 Bedroom"> 4 Bedroom </option>
                                        <option value="5 Bedroom"> 5 Bedroom </option>
                                        <option value="6 Bedroom"> 6 Bedroom </option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label  class="form-label">Location </label>
                                    <select  class="form-select" th:field="*{location}">
                                        <option value="Mohammadpur"> Mohammadpur </option>
                                        <option value="Dhanmundi"> Dhanmundi </option>
                                        <option value="Mirpur"> Mirpur </option>
                                        <option value="Adabor"> Adabor </option>
                                        <option value="Shere_Bangla_Nagor"> Shere_Bangla_Nagor </option>
                                        <option value="Shahbag"> Shahbag </option>
                                    </select>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label  class="form-label">Description </label>
                                    <textarea class="form-control" th:field="*{description}"></textarea>
                                </div>
                            </div>


                            <div class="p-3"><h2 style="text-align: center">Total Monthly Cost</h2></div>


                            <!--                            <div class="row">-->
                            <!--                                <div class="col-md-6">-->
                            <!--                                    <label  class="form-label">Monthly House Rent</label>-->
                            <!--                                    <input type="text" class="form-control" th:field="*{monthly_rent}"  id="monthly_Rent">-->
                            <!--                                </div>-->

                            <!--                                <div class="col-md-6">-->
                            <!--                                    <label  class="form-label">Electricity Charge</label>-->
                            <!--                                    <input type="text" class="form-control" th:field="*{electricity_rent}" id="electricity_Charge">-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <!--                            <div class="p-2"></div>-->

                            <!--                            <div class="row">-->
                            <!--                                <div class="col-md-6">-->
                            <!--                                    <label  class="form-label">Water Charge</label>-->
                            <!--                                    <input type="text" class="form-control" th:field="*{water_rent}" id="water_Charge" >-->
                            <!--                                </div>-->

                            <!--                                <div class="col-md-6">-->
                            <!--                                    <label  class="form-label">Garbage Charge</label>-->
                            <!--                                    <input type="text" class="form-control" th:field="*{garbage_rent}" id="garbage_Charge">-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <!--                            <div class="p-3"></div>-->

                            <!--                            <div class="row">-->
                            <!--                                <div class="col-md-3">-->

                            <!--                                    <label  class="form-label"><h4>Total Monthly Coste =</h4></label>-->
                            <!--                                </div>-->

                            <!--                                <div class="col-md-9">-->
                            <!--                                    <input type="text" class="form-control" th:field="*{total_cost}"  id="total_cost">-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <!--                            <div class="row">-->
                            <!--                                <div class="col-md-3">-->

                            <!--                                    <label  class="form-label"><h4>Total Advance Pay =</h4></label>-->
                            <!--                                </div>-->

                            <!--                                <div class="col-md-9">-->
                            <!--                                    <input type="text" class="form-control" th:field="*{total_Advance}" id="total_advance">-->
                            <!--                                </div>-->


                            <!--                            </div>-->

                            <!--                            <div class="row">-->
                            <!--                                <div class="col-md-3">-->

                            <!--                                    <label  class="form-label"><h4>Total Amount Due =</h4></label>-->
                            <!--                                </div>-->

                            <!--                                <div class="col-md-9">-->
                            <!--                                    <input type="text" class="form-control" th:field="*{total_Amount}"  id="total_amount">-->
                            <!--                                </div>-->
                            <!--                            </div>-->


                            <!-- Monthly House Rent -->
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Monthly House Rent</label>
                                    <input type="text" class="form-control" th:field="*{monthly_rent}" id="monthlyRent">
                                </div>

                                <!-- Electricity Charge -->
                                <div class="col-md-6">
                                    <label class="form-label">Electricity Charge</label>
                                    <input type="text" class="form-control" th:field="*{electricity_rent}" id="electricityCharge">
                                </div>
                            </div>

                            <div class="p-2"></div>

                            <!-- Water Charge -->
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Water Charge</label>
                                    <input type="text" class="form-control" th:field="*{water_rent}" id="waterCharge">
                                </div>

                                <!-- Garbage Charge -->
                                <div class="col-md-6">
                                    <label class="form-label">Garbage Charge</label>
                                    <input type="text" class="form-control" th:field="*{garbage_rent}" id="garbageCharge">
                                </div>
                            </div>

                            <div class="p-3"></div>

                            <!-- Total Monthly Cost -->
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label"><h4>Total Monthly Cost =</h4></label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" th:field="*{total_cost}" id="totalCost">
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-md-3"></div>

                                <div class="col-md-9">
                                    <button type="button" onclick="calculateTotal()">Calculate</button>
                                </div>

                            </div>


                            <div class="text-center p-3">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>

                        </form><!-- End Multi Columns Form -->



                    </div>
                </div>

            </div>

        </div>
    </section>
</main><!-- End #main -->

<script>

    // calculatate create start
    function calculateTotal() {
        // Your logic to calculate the total
        var monthlyRent = parseFloat(document.getElementById('monthlyRent').value) || 0;
        var electricityCharge = parseFloat(document.getElementById('electricityCharge').value) || 0;
        var waterCharge = parseFloat(document.getElementById('waterCharge').value) || 0;
        var garbageCharge = parseFloat(document.getElementById('garbageCharge').value) || 0;

        var totalCost = monthlyRent + electricityCharge + waterCharge + garbageCharge;

        // Update the Total Monthly Cost field
        document.getElementById('totalCost').value = totalCost;
    }
    // calculatate create end


    // Image create start
    function previewImage() {
        var input = document.querySelector('input[type="file"]');
        var preview = document.getElementById('imagePreview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.src = '#';
            preview.style.display = 'none';
        }
    }
    // Image create end

</script>

<div th:insert="~{footer.html}">...</div>